<% if current_page?(root_url) %>
  <div class="micropost col-md-12">
<% else %>
  <div class="micropost col-md-4">
<% end %>
    <div class="user">
      <%= link_to micropost.user.user_name, micropost.user %>
    </div>
    <% if current_page?(root_url) %>
      <%= image_tag micropost.display_image_home if micropost.image.attached? %>
      <div class="content">
        <%= micropost.content %>
      </div>
    <% else %>
      <%= image_tag micropost.display_image_show if micropost.image.attached? %>
    <% end %>
    
    <div class="timestamp">
      post <%= time_ago_in_words(micropost.created_at) %> ago.
    </div>
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  

