<% provide(:title, 'Post') %>
<h1><%= link_to current_user.user_name, current_user %></h1>
<%= form_with(model: @micropost, local: true) do |f| %>
    
  <%= render 'shared/error_messages', object: f.object %>
    
  <div class="field">
    <%= f.text_area :content, placeholder: "Share your something" %>
  </div>
    
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/png" %>
  </span>
    
  <%= f.submit "Post", class: "btn btn-primary" %>
   
<% end %>

 